# SSH client configuration — adjust to your cluster
# vi: nospell

Host wlm* dbm*
	ForwardAgent=yes

Host * !*.hpc.example.org
	HostName %h.hpc.example.org

Host *
	User=root
	HashKnownHosts=no
	StrictHostKeyChecking=yes
	ServerAliveInterval=60
	ServerAliveCountMax=3
